@model UserDTO

<h1>Criar novo Prestador de Serviços</h1>

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <div class="input-group">
            <input id="PostalCode" asp-for="PostalCode" class="form-control" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
            </div>
        </div>
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input id="Address" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

   

    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PostalCode").change(function () {
            var cep = $(this).val();
            $.get("/OrdemServico/GetAddressByPostalCode?postalCode=" + cep, function (data) {
                $("#Address").val(data.address);
            });
        });
    });
</script>
